body {
  margin: 0;
  background: gray;
}


.card {
  height: 200px;
  width: 200px;
  /* perspective: 100vw; */
  transition: 0.8s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  backface-visibility: hidden;
}

.front {
  background: rgb(255, 0, 0);
}

.back {
  background: rgb(255, 217, 0);
  transform: rotateY(180deg);
}

.do-flip{
  transform: rotateY(180deg);
}