body {
  background: #322A63;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  height: 60px;
  width: 150px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

button:hover {
  filter: brightness(110%)
}

button:active{
  filter: brightness(90%)
}

#red {
  background: #E22A10;
  box-shadow: 0 3px #901E27;
  color: lightpink
}

#black {
  background: #28292B;
  box-shadow: 0 3px black;
  color: gray
}

#white {
  background: #EEF1FA;
  box-shadow: 0 3px #999EB5;
  color: darkgray;
}